<div @fadeInOut class="flex justify-center p-6">
  <div
    class="block max-w-sm rounded-lg shadow-xl bg-catpik-primary dark:bg-catpik-primary-dark"
  >
    <img
      class="rounded-t-lg bg-catpik-primary dark:bg-catpik-primary-dark p-6"
      [src]="image"
      alt=""
    />
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-catpik-text dark:text-catpik-text-dark"
      >
        {{ title }}
      </h5>
      <p class="mb-4 text-base text-catpik-text dark:text-catpik-text-dark">
        {{ text }}
      </p>
      <button
        type="button"
        (click)="buttonClicked.emit(true)"
        class="inline-block rounded-lg bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-catpik-text dark:text-catpik-text-dark shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</div>
