<div class="flex justify-center">
  <div class="block max-w-sm rounded-lg shadow-lg bg-white">
    <img class="rounded-t-lg bg-white p-6" [src]="image" alt="" />
    <div class="p-6">
      <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">
        {{ title }}
      </h5>
      <p class="mb-4 text-base text-neutral-600">
        {{ text }}
      </p>
      <button
        type="button"
        (click)="buttonClicked.emit(true)"
        class="inline-block rounded-lg bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-neutral-800 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</div>
