<div
  *ngIf="cats && cats.length > 0; else noCats"
  class="columns-1 md:columns-2 lg:columns-3 bg-sky-100 p-5 rounded-lg relative"
>
  <app-cat-item
    *ngFor="let cat of cats"
    [cat]="cat"
    [cats]="cats"
    (catsUpdate)="cats = $event"
  ></app-cat-item>
  <app-reload [cats]="cats" (catsUpdate)="cats = $event"></app-reload>
</div>
<ng-template #noCats class="absolute justify-center items-center text-center">
  <app-card
    image="../../assets/out-of-stock.png"
    title="We're all out!"
    text="We're getting cats for you as fast we can! Check back soon!"
    buttonText="Check"
    (buttonClicked)="showCats()"
  ></app-card>
</ng-template>
