<nav
  class="relative flex w-full flex-no-wrap items-center justify-between pb-5"
>
  <div
    class="flex w-full flex-wrap items-center justify-between px-6 font-medium text-sm min-[435px]:justify-start min-[435px]:text-lg"
  >
    <div class="mx-0.5 min-[500px]:mx-2">
      <a
        class="mt-2 mr-1 flex items-center text-neutral-900 hover:text-neutral-100 focus:text-neutral-900 lg:mt-0"
        href="/"
      >
        <img
          class="mr-2 w-10 h-10"
          src="../../assets/cat.png"
          alt=""
          loading="lazy"
        />
        <span class="dark:text-neutral-600">CatPik</span>
      </a>
    </div>
    <div class="mx-0.5 min-[500px]:mx-2">
      <a
        class="mt-2 mr-1 flex items-center text-neutral-900 hover:text-neutral-100 focus:text-neutral-900 lg:mt-0"
        href="/favourites"
      >
        <span class="dark:text-neutral-600">Favourite Piks</span>
      </a>
    </div>
    <div class="mx-0.5 min-[500px]:mx-2">
      <a
        class="mt-2 mr-1 flex items-center text-neutral-900 hover:text-neutral-100 focus:text-neutral-900 lg:mt-0"
        href="#"
      >
        <span class="dark:text-neutral-600">Add Your Pik</span>
      </a>
    </div>
  </div>
</nav>
