<nav class="relative flex w-full flex-wrap items-center justify-between py-5">
  <ul
    class="flex w-full flex-wrap items-center justify-between px-6 font-medium text-sm min-[435px]:justify-start min-[435px]:text-lg"
  >
    <li class="mx-0.5 min-[500px]:mx-2">
      <a
        class="mt-2 mr-1 flex items-center text-catpik-text dark:text-catpik-text-dark hover:text-catpik-tertiary focus:text-catpik-tertiary active:text-catpik-tertiary lg:mt-0"
        href="/"
        aria-selected="true"
      >
        <img
          class="mr-2 w-10 h-10"
          src="../../assets/cat.png"
          alt=""
          loading="lazy"
        />
        <span>CatPik</span>
      </a>
    </li>
    <li class="mx-0.5 min-[500px]:mx-2">
      <a
        class="mt-2 mr-1 flex items-center text-catpik-text dark:text-catpik-text-dark hover:text-catpik-tertiary focus:text-catpik-tertiary active:text-catpik-tertiary lg:mt-0"
        href="/favourites"
      >
        <span>Favourite Piks</span>
      </a>
    </li>
    <li class="mx-0.5 min-[500px]:mx-2">
      <a
        class="mt-2 mr-1 flex items-center text-catpik-text dark:text-catpik-text-dark hover:text-catpik-tertiary focus:text-catpik-tertiary lg:mt-0"
        href="/add"
      >
        <span>Add Your Pik</span>
      </a>
    </li>
  </ul>
</nav>
